# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.MiniJamEmpty.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\MiniJamEmpty\.idea\.idea.MiniJamEmpty\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
